.greeting-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 550px;
}

.greeting-content {
    color: #ffffff;
    font-weight: bold;
    width: 450px;
}

.greeting-hero-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
}

.greeting-content h1 {
    font-size: 50px;
    line-height: 0.8;
}

.greeting-content p {
    margin: 25px 0 0 0;
    font-weight: normal;
}

.greeting-content p span {
    background: linear-gradient(to right, #00A9DE, #D100C8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.contact-icons {
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
}

.contact-icons .social-icon {
    color: #b2b2b2;
    font-size: 35px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.contact-icons .social-icon:hover {
    color: #00a9de;
    transition: 0.3s ease-in-out;
}

.waving-hand-image {
    margin: 0 0 0 0;
}

.personal-photo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(90deg, #00A9DE 25%, #CE02C8 50%, #00A9DE 75%);
    background-size: 1000px 100%;
    animation: shimmer 3s infinite linear;
    object-fit: cover;
    overflow: hidden;
}

.personal-photo {
    width: 95%;
    height: 95%;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }
    100% {
        background-position: 1000px 0;
    }
}

@media (max-width: 800px) {
    .greeting-hero-content {
        flex-direction: column-reverse;
        text-align: center;
        height: 600px;
        justify-content: space-between;
    }

    .greeting-hero-content h1{
        font-size: 35px;
    }

    .greeting-hero-content p{
        font-size: 15px;
    }

    .contact-icons{
        margin: 20px auto 0 auto;
    }
}

@media (max-width: 495px) {
    .greeting-content{
        max-width: 450px;
        width: 100%;
    }
}