.footer-content {
    position: relative;
    width: 100%;
    background: #2c2c2c;
    padding: 25px 45px 25px 55px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, .09);
}

.divider-line {
    width: 500px;
}

.footer-content-upper {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100px;
    justify-content: space-between;
}

.divider-line {
    margin: 0 auto;
    width: 100%;
    border: none;
    height: 2px;
    border-radius: 130px;
    background: linear-gradient(to right, rgba(0, 169, 222, 0.54), rgba(209, 0, 200, 0.49));
}

.footer-content-bottom {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100px;
    justify-content: space-between;
}

.bottom-nav {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 450px;
}

.bottom-nav a{
    color: #7d7d7d;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.bottom-nav a:hover {
    transition: 0.3s ease-in-out;
    color: #ffffff;
}

.footer-content-bottom p{
    color: #7d7d7d;
    font-weight: bold;
}

.footer-content-bottom span{
    background: linear-gradient(to right, #00A9DE, #D100C8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.nav-container-wrapper {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 800px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.contact-info a {
    color: #7d7d7d;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.contact-info a:hover {
    color: #ffffff;
}

.icon-info {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.hovered-github:hover{
    transition: 0.3s ease-in-out;
    color: #ffffff;
    border-radius: 555px;
    border: 1px solid #07a2dc;
}

.nav-icon-container {
    display: flex;
    justify-content: space-between;
    width: 100px;
}


@media (max-width: 1155px) {

    .footer-content{
    height: 500px;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer-content-upper {
        display: flex;
        height: 200px;
        flex-direction: column;
    }

    .contact-info{
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 65px;
        width: 100%;
        margin: 0 0 20px 0;
    }

    .icon-info{
        height: 55px;
    }

    .nav-container-wrapper{
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .footer-content-bottom{
        display: flex;
        flex-direction: column;
        height: 250px;
    }

    .bottom-nav{
        display: flex;
        height: 100px;

    }

    .footer-content-bottom p{
        margin: 20px 0 0 0;
        text-align: center;
    }
}

@media (max-width: 500px){
    .bottom-nav{
        display: flex;
        flex-direction: column;
        height: 160px;
        width: 100%;
    }
}










