@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
}

.logo {
    cursor: pointer;
}

.header-nav {
    position: relative;
    padding: 25px 45px 25px 55px;
    width: 100%;
    height: 80px;
    background: #2c2c2c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, .09);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.nav-container a {
    color: #a7a7a7;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
    transition: 0.1s ease-in-out;
}

.nav-container a:hover {
    color: #ffffff;
    transition: 0.1s ease-in-out;
}

.burger-button {
    display: none;
    cursor: pointer;
    color: white;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}


.fa-times-sibebar-button{
    cursor: pointer;
    color: white;
    align-content: start;
    justify-content: start;
    text-align: left;
    position: absolute;
    right: 13rem;
    top: 2rem;
    font-size: 20px;

}

.sidebar {
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    right: 0;
    color: white;
    width: 250px;
    height: 100%;
    background: #2c2c2c;
    padding: 20px;
    box-shadow: -5px 0 15px rgba(0, 0, 0, .09);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.sidebar a{
    text-decoration: none;
    color: #a7a7a7;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    margin: 10px 0;
    transition: 0.3s ease-in-out;
}

.sidebar a:hover{
    color: #ffffff;
    transition: 0.3s ease-in-out;
}

.sidebar.open {
    transform: translateX(0);
}

@media (max-width: 740px) {

    .nav-container {
        display: none;
    }

    .burger-button {
        display: block;
    }
}