:root{
  --gradient-text-color: linear-gradient(90deg, #FFC107 0%, #FF9800 100%);
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif;
}
